/* roboto-regular - cyrillic_latin */
@font-face {
    font-family: 'Roboto'; /*семейство шрифта */
    font-weight: 400; /* насыщенность шрифта, чем выше, тем шрифт жирнее */
    font-style: normal; /* начертание шрифта, есть обычное, курсивное, наклонное, либо наследуемое*/
    /*
    указание предпочитаемого способа загрузки шрифта
    Fallback - Если вы зададите свойству font-display значение fallback,
    то браузер будет ждать менее секунды, пока загрузится ваш пользовательский шрифт.
    Если к этому момент шрифт не загрузится, будет использован откат.
    В этом случае пользователю не придется долго разглядывать пустую страницу.
    Загвоздка, конечно же, в том, что ваш прекрасный пользовательский шрифт не будет загружен на этой странице,
    а это, возможно, испортит внешний вид и впечатление от вашего сайта.
    font-display: fallback очень прямолинеен: если ваш шрифт не загрузился вовремя, то он не будет использован.

    Swap - Если ваш пользовательский шрифт критически важен для дизайна сайта,
    для вас есть вариант получше. font-display: swap сразу же использует резервный шрифт.
    В этом случае, как только завершится загрузка вашего пользовательского шрифта,
    будь то через секунду или 5, браузер заменит резервный шрифт на ваш пользовательский.
    Стоит отметить, что смена шрифта может раздражать пользователя, особенно если он уже сфокусировался на чтении.

    Block - Если вы все-таки решили, что ваш шрифт очень важен, используйте font-display: block.
    Это свойство скажет браузеру подождать некоторое время (около трех секунд), чтобы загрузить шрифты.
    В это время пользователь не будет видеть никакого текста. Через три секунды будет использован резервный шрифт.
    С этого момента, неважно, как долго браузер будет загружать шрифты, он заменит недавно загруженный на резервный,
    даже если пользователь уже начал прокручивать и читать вашу страницу.

    Какой способ использовать?
    Если производительность стоит на первом месте, а пользовательские шрифты не очень-то вас волнуют,
    то font-display: fallback – это ваш выбор. Если пользовательский шрифт очень важен, то swap и block для вас.
    */

    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), /* Если в правиле была объявлена функция local(), с названием шрифта, то будет производиться поиск на компьютере пользователя, и в случае обнаружения будет использован этот шрифт. Иначе будет скачан и использован шрифт, указанный в функции url().  */
    url('../fonts/roboto-v19-cyrillic_latin-regular.woff2') format('woff2'), /* где находится шрифт  указанием его формата */
    url('../fonts/roboto-v19-cyrillic_latin-regular.woff') format('woff'); /* где находится шрифт  указанием его формата */
}

/* roboto-700 - cyrillic_latin */
@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;

    font-display: swap;
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/roboto-v19-cyrillic_latin-700.woff2') format('woff2'),
    url('../fonts/roboto-v19-cyrillic_latin-700.woff') format('woff');
}