/*Контакты(средний бллок)*/
.contacts {
    max-width: 320px;

    word-break: break-all;
}

.contacts__item {
    max-width: 400px;
    margin-bottom: 35px;

    word-wrap: break-word;
}

.contacts__phone,
.contacts__mail {
    font-size: 25px;
    font-style: normal;

    padding-left: 35px;

    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 20px;
}

.contacts__phone {
    background-image: url('../../../img/telephone-handle-silhouette.png');
    background-image: url('../../../img/telephone-handle-silhouette.svg');
}

.contacts__mail {
    background-image: url('../../../img/envelope-mail.png');
    background-image: url('../../../img/envelope-mail.svg');
}

@media(max-width: 840px) {
    .contacts {
        margin-bottom: 25px;

        min-width: 300px;
    }

    .contacts__phone,
    .contacts__mail {
        font-size: 20px;
        font-weight: 700;
    }
}

@media(max-width: 660px) {
    .contacts__phone,
    .contacts__mail {
        background-size: 15px;
    }

    .contacts__phone {
        margin-bottom: 25px;
    }

    .contacts {
        min-width: 0;

        color: #8993ad;
    }
}