/*Копирайт(нижний блок)*/
.copyright {
    background-color: #31293c;
}

.copyright__text {
    line-height: 80px;

    text-align: center;

    color: #fff;
}

@media(max-width: 660px) {
    .copyright__text {
        font-size: 12px;
        line-height: 50px;
    }
}