/*Основной блок page-footer'а*/
.page-footer__general-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 80px 0;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/*Меню(левый блок)*/
.page-footer__menu {
    font-size: 18px;

    max-width: 300px;

    word-wrap: break-word;

    color: #8993ad;
}

.page-footer__item {
    margin-bottom: 15px;
}

.page-footer__item:hover,
.page-footer__item:focus {
    color: #fc557c;
}

/*Кнопка(правый блок)*/
.page-footer__btn {
    display: inline-block;

    max-width: 300px;
    padding: 15px 60px;

    word-wrap: break-word;

    color: #f53f4f;
    border: 1px solid #f53f4f;
}

.page-footer__btn:hover,
.page-footer__btn:focus {
    color: #fbfbfb;
    background-color: #f53f4f;
}

@media(max-width: 840px) {
    .page-footer__general-block {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .page-footer__menu-container {
        font-size: 15px;

        min-width: 300px;

        margin-bottom: 35px;
    }

    .page-footer__general-block {
        padding: 50px 0;
    }
}

@media(max-width: 660px) {
    .page-footer__general-block {
            flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -ms-flex-line-pack: center;
        align-content: center;
    }

    .page-footer__menu {
        font-size: 15px;
    }

    .page-footer__menu-container {
        min-width: 0;
    }

    .page-footer__btn {
        padding: 20px 70px;

        color: #fff;
        border: 1px solid #ff4e2e;
        background-color: #ff4e2e;
    }

    .page-footer__btn:hover,
    .page-footer__btn:focus {
        padding: 20px 70px;

        color: #ff4e2e;
        border: 1px solid #ff4e2e;
        background-color: #fbfbfb;
    }
}
