/*Социальные сети(правый бллок)*/
.social-networks__item {
    display: inline-block;
}

.social-networks__list {
    margin-top: 25px;
}

.social-networks__item:not(:last-child) {
    margin-right: 30px;
}

.social-networks__link {
    display: block;

    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

    background: url('../../../img/sprites.png') no-repeat;
}

.social-networks__link--vk {
    width: 35px;
    height: 21px;

    background-position: 0 -7px ;
}

.social-networks__link--vk:hover,
.social-networks__link--vk:focus {
    background-position: 0 -57px;
}

.social-networks__link--facebook {
    width: 16px;
    height: 28px;

    background-position: -58px 0;
}

.social-networks__link--facebook:hover,
.social-networks__link--facebook:focus {
    background-position: -59px -50px;
}

.social-networks__link--twitter {
    width: 29px;
    height: 25px;

    background-position: -105px -3px ;
}

.social-networks__link--twitter:hover,
.social-networks__link--twitter:focus {
    background-position: -105px -53px;
}

.social-networks__link--instagram {
    width: 25px;
    height: 25px;

    background-position: -157px 0 ;
}

.social-networks__link--instagram:hover,
.social-networks__link--instagram:focus {
    background-position: -157px -52px;
}

@media(max-width: 840px) {
     .social-networks {
        margin: 0 auto;

        text-align: center;

        min-width: 300px;
    }
}

@media(max-width: 660px) {
    .social-networks {
        min-width: 0;

        margin-left: 0;

        text-align: left;
    }
}