.menu__item {
    line-height: 25px;

    display: inline-block;

    max-width: 100px;
    margin-right: 35px;

    word-wrap: break-word;
}

.menu__item:hover,
.menu__item:focus {
    color: #fc557c;
    -webkit-box-shadow: 0 2px 1px -2px #fc557c;
    box-shadow: 0 2px 1px -2px #fc557c;
}

.menu__item-link {
    display: block;
}

@media (max-width: 1024px) {
    .menu__item {
        line-height: 40px;

        display: block;

        max-width: 250px;
        margin-right: 0;
        padding-right: 10px;
        padding-left: 20px;
    }

    .menu__item:hover,
    .menu__item:focus {
        color: #fff;
        background-color: #fc557c;
    }
}