.page-header {
    background-color: #fbfbfb;
}

.page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 30px 0;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-header__right-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.page-header__phone-container {
    display: inline-block;

    margin-right: 30px;

    max-width: 255px;

    word-wrap: break-word;

    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.page-header__phone {
    font-size: 25px;
    font-weight: 700;
}

.page-header__btn-container {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.page-header__btn-mini {
    display: none;

    width: 40px;
    height: 40px;

    cursor: pointer;

    background-image: url('../../../img/call-button.png'); /* PNG для IE6-8 */
    background-image: url('../../../img/call-button.svg');
    background-size: contain;
}

.page-header__btn-mini:focus,
.page-header__btn-mini:hover {
    -webkit-filter: drop-shadow(2px 3px 2px rgba(0,0,0,.8));
    filter: drop-shadow(2px 3px 2px rgba(0,0,0,.8));
}

.page-header__btn {
    display: inline-block;

    padding: 15px 40px;
	
	max-width: 300px;

    color: #f53f4f;
    border: 1px solid #f53f4f;

    word-wrap: break-word;
}

.page-header__btn:hover,
.page-header__btn:focus {
    color: #fbfbfb;
    background-color: #f53f4f;
}



@media (max-width: 1024px) {
    .page-header__menu {
        position: absolute;
        top: 90px;

        min-width: 200px;

        border: 1px solid #fc557c;
        background: #fbfbfb;

        z-index: 1;
    }
}

@media (max-width: 580px) {
    .page-header__phone {
        font-size: 18px;
    }

    .page-header__btn {
        display: none;
    }

    .page-header__btn-mini {
        display: inline-block;
    }
}